/* Header.css */

/* Estilos generales del header */
.header {
  background-color: #251f46;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out; /* Para suavizar el efecto */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Para asegurarnos de que se quede arriba */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 20px; /* Reducir el padding cuando el header se vuelva sticky */
}

.header img {
  width: 250px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantiene la proporción del logo */
  object-fit: contain; /* Asegura que el logo no se deforme */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px; /* O el tamaño adecuado */
  height: auto;
}


.logo-link {
  cursor: pointer; /* Hace que el logo sea clickeable */
}

.logo-link:hover .logo {
  transform: scale(1.05); /* Efecto de agrandado en hover */
}

/* Media Query para pantallas medianas (tabletas) */
@media (max-width: 1024px) {
  .header {
    padding: 15px 20px; /* Ajustar padding para pantallas medianas */
  }

  .header img {
    width: 200px; /* Reducir tamaño del logo */
  }

  .logo-container {
    justify-content: flex-start; /* Mover el logo a la izquierda */
  }
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .header {
    padding: 10px 15px; /* Menos padding en pantallas pequeñas */
    flex-direction: column; /* Cambiar a columna para más espacio */
    align-items: flex-start; /* Alinear los elementos al inicio */
  }

  .header img {
    width: 250px; /* Reducir más el tamaño del logo */
  }

  .logo-container {
    width: 100%; /* Asegurarse de que el logo esté centrado */
    justify-content: center; /* Centrar el logo en móviles */
  }
}

